.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; 
  padding: 20px;
  background: linear-gradient(to bottom right, #87CEFA, #ffffff); 
  border-radius: 10px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

select {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

select:hover {
  background-color: #ffe8b5;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  margin: 10px;
  background-color: #3b99d6;
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #2878a0; 
  transform: scale(1.05);
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.select-container select {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin-top: 0;
  font-size: 1.3rem;
  color: #333;
  font-weight: 600;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px; 
  margin-top: auto; 
}

footer button {
  background-color: #1e90ff; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

footer button:hover {
  background-color: #187bcd; 
  transform: scale(1.05);
}

.spinner-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); 
  z-index: 1000; 
}

.spinner-container p {
  margin-top: 10px; 
  font-size: 1.2rem;
  color: #333;
}
